<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>ReadyHire</title>
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
      <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
         
         
      </script>
      <!-- Custom Theme files -->
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
      <!-- <link href="./readyHire/bootstrap.min.css" rel="stylesheet"> -->
      <link media="all" type="text/css" rel="stylesheet" href="css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <!-- //Custom Theme files -->
      <link href="./readyHire/new-age.css" rel="stylesheet">
      <!-- web font -->
      <!-- <link rel="stylesheet"
         href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i"> -->
      <!-- <link rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
         crossorigin="anonymous"> -->

         <link href="./readyHire/opncv.css" rel="stylesheet">

     <style type="text/css">
      .fontcolor {
         color: white;
         }
 </style>
   </head>
   <body class="wrapper">
      <!-- main -->
      <header class="masthead">
         <div class="container h-100" id="formcontent">
            <div class="row h-100">
               <div class="main-w3layouts">
                  <h1>Sign up for Beta</h1>
                  <div class="main-agileinfo">
                     <div class="agileits-top">
                        <form th:action="@{/register}" th:object="${register}" method="post">
                           <!-- <span class="fontcolor">Company</span><input type="radio" th:field="*{key}" required="" placeholder="" name="key" value="company" class="text email">
                              <span class="fontcolor">Consultancy</span><input type="radio" th:field="*{key}" required="" placeholder="" name="key" value="consultancy" class="text email"> -->
                           <div class="wrap">
                              <div class="radio-group">
                                 <input id="opt_1" value="employer"
                                    class="radio-group__option" type="radio" name="key"
                                    checked="checked"> <label class="radio-group__label"
                                    for="opt_1"> Employer </label> <input id="opt_2" value="recruiter"
                                    class="radio-group__option" type="radio" name="key"> <label
                                    class="radio-group__label" for="opt_2"> Recruiter </label>
                              </div>
                           </div>
                           <input type="text" th:field="*{companyName}" required=""
                              placeholder="Company Name" name="coname" class="text email roundedinput">
                           <input type="text" th:field="*{name}" required=""
                              placeholder="Name" name="name" class="text email roundedinput"> <input
                              type="text" th:field="*{role}" required="" placeholder="Role"
                              name="role" class="text email roundedinput"> <input type="text"
                              th:field="*{phone}" required="" placeholder="Phone" name="ph"
                              class="text email roundedinput"> <input type="email"
                              th:field="*{email}" required="" placeholder="Company email" name="email"
                              id="getmail" class="text email roundedinput" data-placement="left" data-original-title=""
                              data-content="">
                           <small class="clear fontcolorred"></small>
                           <div class="wthree-text">
                              <label class="anim"> <input type="checkbox" required=""
                                 class="checkbox"> <span>I Agree To The Terms &amp;
                              Conditions</span>
                              </label>
                           </div>
                           <input type="submit" value="SIGNUP">
                        </form>
                        <!-- <p>Don't have an Account? <a href="#"> Login Now!</a></p> -->
                     </div>
                  </div>
                  <!-- copyright -->
                  <div class="w3copyright-agile">
                     <p>
                        &copy; 2018 ReadyHire. All rights reserved | Design by <a
                           target="_blank" href="#">OpnCv</a>
                     </p>
                  </div>
                  <!-- //copyright -->
                  <!-- <ul class="w3lsg-bubbles">
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     </ul> -->
               </div>
            </div>
         </div>
         <canvas id="stars"></canvas>
      </header>
      <!-- //main -->
      <script src="js/jquery.min.js"></script>
      <script src="./readyHire/delaunay.js"></script>
      <script src="./readyHire/custom.js"></script>
      <script src="./readyHire/opncv.js"></script>
   </body>
</html>